.profile__add-button {
  background-image: url("../../../images/add_plus_pic.png");
  background-color: transparent;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 150px;
  height: 50px;
  margin: auto 0px auto auto;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media all and (min-width: 300px) and (max-width: 1023px) {
  .profile__add-button {
    background-size: 6%;
    height: 50px;
    width: 282px;
    margin: 36px 0px 0px 0px;
  }
}
