@import url(../vendor/normalize.css);
@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/popup/popup.css);

.body {
  background-color: #000;
}

.page {
  min-width: 300px;
  max-width: 1280px;
  position: relative;
  margin: auto;
  /* background-color: #000; */
  /* border: 1px solid red; */
  font-family: 'Inter', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.header {
  margin: 45px 199px 0px;
  /* margin: 45px 15.547% 0px; */
  /* border: 1px solid yellow; */
  border-bottom: 1px solid rgba(84, 84, 84, .7);

}

@media all and (min-width: 300px) and (max-width: 767px) {
  .header {
    margin: 28px 27px 0px;
    /* border-bottom: 1px solid rgba(255, 255, 255, 1); */
  }
}

@media all and (min-width: 768px) and (max-width: 1279px) {
  .header {
  margin: 45px 15.547% 0px;
  }
}

.header__logo {
  width: 142.01px;
  height: 33.4px;
  margin: 0px 0px 40.6px;
}

@media all and (min-width: 300px) and (max-width: 767px) {
  .header__logo {
  width: 103.74px;
  height: 24.4px;
  margin: 0px 0px 31.6px 0px;
  }
}

/* PROFILE */

.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: 1px solid green; */
  /* margin: 40px 15.547% 0px; */
  margin: 40px 199px 0px;
  position: relative;
}

@media all and (min-width: 300px) and (max-width: 1023px) {
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid green; */
    /* margin: 40px 15.547% 0px; */
    margin: 42px 19px 0px;
    position: relative;
  }
}

@media all and (min-width: 1024px) and (max-width: 1279px) {
  .profile{
    margin: 40px 15.547% 0px;
  }
}

.profile__avatar {
  width: 120px;
  border-radius: 50%;
  /* border: 1px solid yellowgreen; */
}


.profile__data {
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: 1px solid yellowgreen; */
}

@media all and (min-width: 300px) and (max-width: 1023px) {
  .profile__data  {
    margin-left: 0px;
    align-items: baseline;
  }
}

.profile__info {
  color: #fff;
  /* margin-left: 30px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: 1px solid yellowgreen; */
}

@media all and (min-width: 300px) and (max-width: 1023px) {
  .profile__info  {
    /* margin-left: 0px; */
    align-items: flex-end;
  }
}

.profile__title-name {
  font-size: 42px;
  line-height: 56px;
  font-weight: 500;
  font-style: normal;
  margin: 18px 0px 0px;
  /* border: 1px solid yellowgreen; */
}

@media all and (min-width: 300px) and (max-width: 1023px) {
  .profile__title-name {
    font-size: 27px;
    line-height: 27px;
    margin: 30px 0px 0px;
    text-align: center;
  }
}

.profile__subtitle-about {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  font-style: normal;
  margin: 16px 0px 0px;
  /* border: 1px solid yellowgreen; */
}

@media all and (min-width: 300px) and (max-width: 1023px) {
  .profile__subtitle-about {
    font-size: 14px;
    line-height: 14px;
    margin: 10px 0px 0px;
    text-align: center;
    padding-right: 5px;
  }
}

.profile__edit-button {
  /* background-image: url("../images/edit_button.svg"); */
  background-image: url("../images/edit_pen_pic.png");
  background-color: transparent;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 37px 0px 0px 17px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  /* border: 1px solid yellowgreen; */
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media all and (min-width: 300px) and (max-width: 1023px) {
  .profile__edit-button {
    height: 18px;
    width: 18px;
    margin: 20px 0px 0px 8px;
  }
}

.profile__add-button {
  /* background-image: url("../images/add_button.svg"); */
  background-image: url("../images/add_plus_pic.png");
  background-color: transparent;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;

  width: 150px;
  height: 50px;
  margin: auto 0px auto auto;
  /* border: 1px solid yellowgreen; */
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media all and (min-width: 300px) and (max-width: 1023px) {
  .profile__add-button {
    background-size: 6%;
    height: 50px;
    width: 282px;
    margin: 36px 0px 0px 0px;
  }
}

/* ELEMENTS */

.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-rows: auto; */
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 18px;
  /* justify-content: center; */
  justify-items: center;
  /* align-items: start; */
  /* margin: 51px 15.547% 0px; */
  width: calc(100% - 199px - 199px);
  margin: 51px auto;
  /* border: 1px solid red; */
}

@media all and (min-width: 300px) and (max-width: 767px) {
  .elements {
    grid-template-columns: repeat(1, 1fr);

    width: calc(100% - 19px - 19px);
    margin: 36px auto;
  }
}

@media all and (min-width: 768px) and (max-width: 900px) {
  .elements {
    width: calc(100% - 10% - 10%);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (min-width: 899px) and (max-width: 1279px) {
  .elements {
    width: calc(100% - 15.547% - 15.547%);
    grid-template-columns: repeat(2, 1fr);
  }
}


.element {
  width: 282px;
  height: 361px;
  margin: auto;
  display: grid;
  /* grid-template-columns: 2, auto;
  grid-gap: 0; */
  /* border: 1px solid yellow; */
}
.element__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
  /* border: 1px solid yellowgreen; */
}
.element__info {
  width: 100%;
  border-radius: 0px 0px 10px 10px ;
  background-color: #fff;
  /* margin: 0; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  /* height: 79px; */
  /* border: 1px solid yellowgreen; */
}
.element__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  font-style: normal;
  /* margin-left: 21px; */
  display: block;
  margin: 22px 0px 28px 21px;
}

@media all and (min-width: 300px) and (max-width: 500px) {
  .element__title {

  }
}

.element__like {
  /* background-image: url("../images/heart_like.svg"); */
  display: block;
  background-image: url("../images/heart_like.svg");
  width: 20.76px;
  height: 18.13px;
  margin-right: 17.24px;
  margin-top: 28px;
}

.element__like:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media all and (min-width: 300px) and (max-width: 500px) {
  .element__like  {
    margin-right: 22.24px;
    margin-top: 31px;
  }
}

/* FOOTER */

.footer {
  width: calc(100% - 199px - 199px);
  margin: 66px auto 60px;
  /* border: 1px solid yellow; */
}

@media all and (min-width: 300px) and (max-width: 767px) {
  .footer {
    width: calc(100% - 19px - 19px);
    margin: 48px auto 36px;
  }
}

@media all and (min-width: 768px) and (max-width: 899px) {
  .footer {
    width: calc(100% - 10% - 10%);
  }
}

@media all and (min-width: 900px) and (max-width: 1279px) {
  .footer {
    width: calc(100% - 15.547% - 15.547%);
  }
}

.footer__info {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  font-style: normal;
  color: #545454;
  /* border: 1px solid yellow; */
  display: inline-block;
  margin:0;
}

@media all and (min-width: 300px) and (max-width: 767px) {
  .footer__info {
    font-size: 14px;
    line-height: 17px;
}
}


/*  FORM */

.popup {
width: 100%;
height: 100%;
display: block;
}
.popup:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
}

.popup__container {
  position: fixed;
  top: calc(50% - 165px);
  left: calc(50% - 215px);
  width: 430px;
  height: 330px;
  /* padding: 34px 36px 36px; */
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media all and (min-width: 300px) and (max-width: 550px) {
  .popup__container {
    left: calc(50% - 109px);
    width: 218px;
  }
}

.popup__form-title {
  width: calc(100% - 36px - 36px);
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  font-style: normal;
  color: #000;
  margin: 34px 0px 0px;
}

@media all and (min-width: 300px) and (max-width: 550px) {
  .popup__form-title {
    width: calc(100% - 18px - 18px);
    font-size: 20px;
    line-height: 24px;
    font-weight: 900;
    font-style: normal;
    color: #000;
    margin: 18px 0px 0px;
  }
}

.popup__form-profile {
  width: calc(100% - 36px - 36px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 36.51px;
  padding: 0;
  border: none;
}

@media all and (min-width: 300px) and (max-width: 550px) {
  .popup__form-profile {
    width: calc(100% - 18px - 18px);
    margin-bottom: 18px;
  }
}

.popup__form-name {
  padding: 0px 0px 13px 0px;
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  font-style: normal;
  outline: none;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__form-about {
  width: 100%;
  padding: 0px 0px 13px 0px;
  margin-top: 30px;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  font-style: normal;
  outline: none;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

input::placeholder {
  font-family: inherit;
  color:#000;
}
input::-webkit-input-placeholder {
  font-family: inherit;
  color:#000;
}
input::-moz-placeholder {
  font-family: inherit;
  color:#000;
}
input::-ms-input-placeholder {
  font-family: inherit;
  color:#000;
}
input::placeholder {
  font-family: inherit;
  color:#000;
}

.popup__form-submit {
  width: 100%;
  height: 50.15px;
  background: #000;;
  border-radius: 2px;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  font-style: normal;
  margin-top: 48px;
  padding: 0;
}

.popup__form-submit:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.popup__form-close-button {
  right: -40.7px;
  top: -40.7px;
  position: absolute;
  width: 40.7px;
  height: 40.7px;
  background-image: url("../images/close_icon.png");
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: 100%; */
  /* transform: rotate(45deg); */
  /* border: 2px solid blue; */
}

.popup__form-close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

