.popup-add-card__form-close-button {
  right: -40.7px;
  top: -40.7px;
  position: absolute;
  width: 40.7px;
  height: 40.7px;
  background-image: url("../../../images/close_icon.png");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;;
}

.popup-add-card__form-close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.popup-add-card__form-close-button:focus, .card__like:active {
  outline: none;
}

@media all and (min-width: 300px) and (max-width: 550px) {
  .popup-add-card__form-close-button {
    right: -27px;
    top: -27px;
    width: 30px;
    height: 30px;
    background-image: url("../../../images/close_Icon_3030.png");
  }
}
